.header {
	background-color: #e7ddd4;
}
.header__container {
	min-height: 80px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav__list {
	display: flex;
	gap: 30px;
	align-items: center;
}
.logo {
	font-family: "Pacifico";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
	color: #8bb4d1;
}
.nav__link {
	text-transform: uppercase;
}